@import "mixins/mixins";
@import "common/var";
@import "./input.scss";
@import "./popper";

@include b(cascader) {
  display: inline-block;
  position: relative;
  font-size: $--font-size-mini;
  line-height: $--input-height;
  height: $--input-height;

  .af-input,
  .af-input__inner {
    cursor: pointer;
  }

  .af-input-group__prepend {
    background-color: $--color-blue-primary;
  }

  .af-input__inner {
    background-color: $--color-blue-primary; 
    // border-color:$--color-blue-primary;
    border: none;
    &::placeholder {
      color: $--color-text-placeholder-primary;
      // font-weight: $--font-weight-bold;
    }
  }

  .af-input__suffix-inner {
    color: $--color-primary;
  }

  .af-input.is-focus .af-input__inner {
    // border-color: $--input-focus-border;
  }

  .af-input__icon {
    transition: none;
  }

  .af-icon-caret-bottom {
    transition: transform .3s;
    font-size: 14px;

    @include when(reverse) {
      transform: rotateZ(180deg);
    }
  }

  .af-icon-circle-close {
    z-index: #{$--index-normal + 1};
    transition: $--color-transition-base;

    &:hover {
      color: $--color-text-secondary;
    }
  }

  @include e(clearIcon) {
    z-index: 2;
    position: relative;
  }

  @include e(label) {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 0 25px 0 15px;
    color: $--color-primary;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: content-box;
    cursor: pointer;
    text-align: left;
    font-size: inherit;
    span {
      color: $--color-primary;
    }

    span.label {
      color: transparent;
      display: inline-block;
      margin-left: -4px;
      margin-right: 1px;
    }
  }

  @include m(medium) {
    font-size: $--input-medium-font-size;
    line-height: #{$--input-medium-height};
  }

  @include m(small) {
    font-size: $--input-small-font-size;
    line-height: #{$--input-small-height};
  }

  @include m(mini) {
    font-size: $--input-mini-font-size;
    line-height: #{$--input-mini-height};
  }

  @include when(disabled) {
    .af-cascader__label {
      z-index: #{$--index-normal + 1};
      color: $--disabled-color-base;
    }
  }
}

@include b(cascader-menus) {
  white-space: nowrap;
  background: #fff;
  position: absolute;
  margin: 5px 0;
  z-index: #{$--index-normal + 1};
  border: $--select-dropdown-border;
  border-radius: $--border-radius-small;
  box-shadow: $--select-dropdown-shadow;
}

@include b(cascader-menu) {
  display: inline-block;
  vertical-align: top;
  height: 204px;
  overflow: auto;
  border-right: $--select-dropdown-border;
  background-color: $--select-dropdown-background;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  min-width: 140px;

  &:last-child {
    border-right: 0;
  }

  @include e(item) {
    font-size: $--select-font-size;
    padding: 5px 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $--select-option-color;
    height: $--select-option-height;
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    @include m(extensible) {
      &:after {
        font-family: 'aui-icons';
        content: "\e697";
        font-size: 12px;
        color: rgb(191, 203, 217);
        position: absolute;
        right: 10px;
      }
    }

    @include when(disabled) {
      color: $--select-option-disabled-color;
      background-color: $--select-option-disabled-background;
      cursor: not-allowed;

      &:hover {
        color: $--select-option-disabled-color;
        background-color: $--color-white;
      }
    }

    @include when(active) {
      color: $--color-primary;
      background-color: $--select-option-hover-background;
    }

    &:hover, &:focus:not(:active) {
      color: $--color-primary;
      background-color: $--select-option-hover-background;
    }

    &.selected {
      color: $--color-white;
      background-color: $--select-option-selected-hover;
    }
  }

  @include e(item__keyword) {
    font-weight: bold;
  }

  @include m(flexible) {
    height: auto;
    max-height: 180px;
    overflow: auto;

    .af-cascader-menu__item {
      overflow: visible;
    }
  }
}
