@import "mixins/mixins";
@import "common/var";

@include b(descriptListItem) {
  padding: 0 16px 0 0;
  @include e(label) {
    line-height: 20px;
    padding-bottom: 16px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
    white-space: nowrap;
    display: table-cell;

    &::after {
      content: '';
      margin: 0 8px 0 2px;
    }
  }

  @include e(content) {
    line-height: 20px;
    width: 100%;
    padding-bottom: 16px;
    color: rgba(0, 0, 0, 0.65);
    display: table-cell;
  }
}