@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select";

@include b(pagination) {
  white-space: nowrap;
  height: 36px;
  align-items: center;
  color: $--pagination-color;
  font-weight: bold;
  display: flex;
  background: #fff;
  position: relative;
  padding: 0 10px;
  @include utils-clearfix;

  @include e(isTotal){
    height: 20px;
  }

  span:not([class*=suffix]),
  button {
    display: inline-block;
    font-size: $--pagination-font-size;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    line-height: $--pagination-button-height;
    vertical-align: top;
    box-sizing: border-box;
  }

  .af-input__inner {
    text-align: center;
    -moz-appearance: textfield;
    line-height: normal;
  }

  // pagesize 的下拉 icon
  .af-input__suffix {
    right: 0;
    transform: scale(.8);
  }

  .af-select .af-input {
    width: 90px;
    height: 22px;

    .af-input__inner {
      padding-right: 25px;
      border-radius: $--pagination-border-radius;
    }
  }

  button {
    border: none;
    padding: 0 6px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $--pagination-hover-fill;
    }

    &:disabled {
      color: $--pagination-button-disabled-color;
      background-color: $--pagination-button-disabled-fill;
      cursor: not-allowed;
    }
  }

  .btn-prev,
  .btn-next,
  .btn-start,
  .btn-end  {
    background: center center no-repeat;
    background-size: 16px;
    background-color: $--pagination-fill;
    cursor: pointer;
    margin: 0;
    // color: $--pagination-button-color;

    .af-icon {
      display: block;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .btn-prev,
  .btn-start {
    padding-right: 12px;
  }

  .btn-next,
  .btn-end {
    padding-left: 12px;
  }

  .af-pager li.disabled {
    color: $--color-text-placeholder;
    cursor: not-allowed;
  }

  @include m(small) {
    .btn-prev,
    .btn-next,
    .btn-start,
    .btn-end,
    .af-pager li,
    .af-pager li.btn-quicknext,
    .af-pager li.btn-quickprev,
    .af-pager li:last-child {
      border-color: transparent;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      min-width: 22px;
    }

    .arrow.disabled {
      visibility: hidden;
    }

    .more::before,
    li.more::before {
      line-height: 22px;
    }

    span:not([class*=suffix]),
    button {
      height: 22px;
      line-height: 22px;
    }

    @include e(editor) {
      height: 22px;
      &.af-input .af-input__inner {
        height: 22px;
      }
    }
  }

  @include e(sizes) {
    margin: 0 17px 0 0;
    font-weight: normal;
    color: $--color-text-regular;

    .af-input .af-input__inner {
      font-size: $--pagination-font-size;
      padding-left: 8px;

      // &:hover {
      //   border-color: $--pagination-hover-fill;
      // }
    }
  }

  @include e(total) {
    flex: 1;
    font-weight: normal;
    color: #707070;
  }

  @include e(jump) {
    margin-left: 24px;
    font-weight: normal;
    color: $--color-text-regular;

    .af-input__inner {
      padding: 0 3px;
    }
  }

  @include e(rightwrapper) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  @include e(leftwrapper) {
    flex: 1;
  }

  @include e(editor) {
    line-height: 18px;
    padding: 0 2px;
    height: $--pagination-button-height;

    text-align: center;
    margin: 0 2px;
    box-sizing: border-box;
    border-radius: $--pagination-border-radius;

    &.af-input {
      width: 50px;
    }

    &.af-input .af-input__inner {
      height: $--pagination-button-height;
    }

    .af-input__inner::-webkit-inner-spin-button,
    .af-input__inner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @include when(background) {
    .btn-prev,
    .btn-next,
    .btn-start,
    .btn-end,
    .af-pager li {
      margin: 0 5px;
      background-color: $--color-info-lighter;
      color: $--color-text-regular;
      min-width: 30px;
      border-radius: 2px;

      &.disabled {
        color: $--color-text-placeholder;
      }
    }

    .btn-prev, .btn-next, .btn-start, .btn-end {
      padding: 0;

      &:disabled {
        color: $--color-text-placeholder;
      }
    }

    .af-pager li:not(.disabled) {
      &:hover {
        color: $--pagination-hover-fill;
      }

      &.active {
        background-color: $--color-primary;
        color: $--color-white;
      }
    }

    &.af-pagination--small {
      .btn-prev,
      .btn-next,
      .btn-start,
      .btn-end,
      .af-pager li {
        margin: 0 3px;
        min-width: 22px;
      }
    }
  }
}

@include b(pager) {
  user-select: none;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  padding: 0;
  margin: 0;

  .more::before {
    line-height: 22px;
    font-size: 16px;
  }

  li {
    padding: 0 2px;
    background: $--pagination-fill;
    vertical-align: top;
    display: inline-block;
    font-size: $--pagination-font-size;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    line-height: $--pagination-button-height;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin: 0;

    &.btn-quicknext,
    &.btn-quickprev {
      line-height: 28px;
      color: $--pagination-button-color;

      &.disabled {
        color: $--color-text-placeholder;
      }
    }

    &.btn-quickprev:hover {
      cursor: pointer;
    }

    &.btn-quicknext:hover {
      cursor: pointer;
    }

    &.active + li {
      border-left: 0;
    }

    &:hover {
      color: $--pagination-hover-fill;
    }

    &.active {
      color: $--pagination-hover-fill;
      cursor: default;
      background: $--color-blue-active;
      border-radius: 3px;
    }
  }
}
