@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

@include b(select) {
  position: relative;
  line-height: normal;
  background-color: $--color-blue-primary;
  border: 1px solid $--color-blue-primary;
  font-size: $--select-font-size;
  border-radius: $--input-border-radius;
  display: inline-table;
  cursor: pointer;
  &:hover {
    border-color: $--input-hover-border;
  }

  .af-input-group__prepend {
    background-color: $--color-blue-primary;
    color: #707070;
    vertical-align: top;
    display: table-cell;
    position: relative;
    border-radius: 2px;
    padding: 0 0 0 10px;
    width: 1px;
    white-space: nowrap;
  }

  .af-input__hidden-label {
    padding: 0 0 0 10px;
    white-space: nowrap;
    color: transparent;
  }

  .af-input__inner {
    cursor: pointer;
    padding-right: 35px;
    background-color: $--color-blue-primary;
    border-color: $--color-blue-primary;
    color: $--color-primary;
    &::-webkit-input-placeholder {
      color: $--color-primary;
    }
    // &:focus {
    //   background-color: $--color-blue-focus;
    //   border-color: $--color-blue-focus;
    // }
  }

  .af-input {
    border: none;
    &:hover {
      border: none;
    }
    &:focus {
      border: none;
    }
    & .af-select__caret {
      color: $--select-input-color;
      font-size: $--select-input-font-size;
      transition: transform .3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-color;
        transition: $--color-transition-base;

        &:hover {
          color: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .af-input__inner {
        cursor: not-allowed;

        // &:hover {
        //   border-color: $--select-disabled-border;
        // }
      }
      & .af-input__icon {
        color: $--select-disabled-border;
      }
    }

    // &.is-focus .af-input__inner {
      // border-color: $--select-input-focus-background;
    // }
  }

  // > .af-input {
  //   display: block;
  // }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 2px;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 14px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-color;
    line-height: 18px;
    font-size: $--select-input-font-size;

    // &:hover {
    //   color: $--select-close-hover-color;
    // }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: nowrap;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
  }

  .af-tag__close {
    margin-top: -2px;
  }

  .af-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 1px 0 1px 2px;
    background-color: $--color-tag-bg;
    height: 16px;
    line-height: 16px;

    &__close.af-icon-close {
      right: -7px;
      top: 0;
      color: $--color-text-placeholder;

      &:hover {
        color: $--color-text-secondary;
      }

      &::before {
        display: block;
        // transform: translate(0, .5px);
      }
    }
  }
}

.af-select {
  &.af-alert-tip-border {
    border-color: red;
  }
  
  &.af-alert-tip-bg {
    .af-input-group__prepend {
      background-color: #ffeeee;
    }

    .af-input__inner {
      border-color: #ffeeee;
      background-color: #ffeeee;
    }
  }
}
