@import "mixins/mixins";
@import "common/var";

@include b(step) {
  height: 44px;
  line-height: 44px;
  background: #fff;
  display: flex;
  align-items: center;

  @include e(item) {
    background: rgb(211, 211, 211);
    height: 24px;
    line-height: 24px;
    flex: 1;
    text-align: center;
    margin: 0 10px;
  }

  @include e(text) {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }

  @include e(current) {
    background: rgb(209, 240, 255);
    .af-step__text {
      color: #4183d7;
    }
  }

  @include e(start) {
    clip-path:
      polygon(0 0, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
  }

  @include e(end) {
    clip-path:
      polygon(0 0, 10px 50%, 0 100%, 100% 100%, 100% 0);
  }

  @include e(middle) {
    clip-path:
      polygon(0 0, 10px 50%, 0 100%, calc(100% - 10px) 100%, 100% 50%, calc(100% - 10px) 0);
  }
}
