/* Element Chalk Variables */


/* Transition
-------------------------- */

$--all-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645, .045, .355, 1) !default;
$--color-transition-base: color .2s cubic-bezier(.645, .045, .355, 1) !default;

/* Colors
-------------------------- */

$--color-white: #fff !default;
$--color-black: #000 !default;
$--color-black-3: #333 !default;
$--color-lightgrey: #f5f5f5 !default;
$--color-blue-primary: #ddf4ff !default;
$--color-blue-hover: #c1e4fb !default;
$--color-blue-focus: #d1f0ff !default;
$--color-blue-active: #d1f0ff !default;
$--color-gray-primary: #F5F8FD !default;
$--color-primary: #4183d7 !default;
$--color-primary-hover: #4ea1ff !default;
$--color-primary-active: #2963c6 !default;
$--color-primary-i: #d1f0ff !default;
$--color-primary-i-hover: #c1e4fb !default;
$--color-primary-i-active: #e7f7ff !default;
$--color-primary-background: #dddddd !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;

/* 66b1ff */

$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;

/* 8cc5ff */

$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;

/* ecf5ff */

$--color-success: #67c23a !default;
$--color-warning: #f7ba2b !default;
$--color-warning-hover: #fbd350 !default;
$--color-warning-active: #f3a119 !default;
$--color-warning-i: #fdf1d5 !default;
$--color-warning-i-hover: #fce8ba !default;
$--color-warning-i-active: #fef6e3 !default;
$--color-danger: #ff4d4d !default;
$--color-danger-hover: #ff8484 !default;
$--color-danger-active: #ff3232 !default;
$--color-danger-i: #ffdbdb !default;
$--color-danger-i-hover: #ffc4c4 !default;
$--color-danger-i-active: #ffecec !default;
$--color-info: #909399 !default;
$--bg-alert-warning: #fef8e9 !default;
$--color-message-success: #19b5ff !default;
$--color-message-info: #19b5ff !default;
$--color-message-warning: #f7ba2a !default;
$--color-message-question: #f7ba2a !default;
$--color-message-danger: #ff4d4d !default;
$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
$--color-text-black: #000000 !default;
$--color-text-primary: #4183d7 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-label: #707070 !default;
$--color-text-placeholder: #a0a0a0 !default;
$--color-text-placeholder-primary: $--color-primary !default;
$--color-input-bg: #ddf4ff !default;
$--color-input-hover: #a0c1eb !default;
$--color-radio-check-disabled-bg: #cacaca !default;
$--color-tag-bg: #b6e7fe !default;
$--color-transparent: transparent !default;

/* Link
-------------------------- */

$--link-color: $--color-primary-light-2 !default;
$--link-hover-color: $--color-primary !default;

/* Background
-------------------------- */

$--background-color-base: #f5f5f5 !default;
$--background-color-hover: $--color-blue-hover !default;

/* Border
-------------------------- */

$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: #dcdfe6 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-base-input: $--border-width-base $--border-style-base $--color-input-bg !default;
$--border-base-radio: $--border-width-base $--border-style-base $--color-primary !default;
$--border-base-radio-group: $--border-width-base $--border-style-base $--color-primary-i !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;

/* Box-shadow
-------------------------- */

$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12),
0 0 6px rgba(0, 0, 0, .04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12),
0 0 6px rgba(0, 0, 0, .12) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.2) !default;

/* Fill
-------------------------- */

$--fill-base: $--color-white !default;

/* Font
-------------------------- */

$--font-path: 'fonts' !default;
$--font-size-base: 14px !default;
$--font-size-mini: 12px !default;
$--font-size-small: 13px !default;
$--font-size-medium: 16px !default;
$--font-size-large: 18px !default;
$--font-color-disabled-base: #bbb !default;
$--font-weight-primary: 400 !default;
$--font-weight-medium: 500 !default;
$--font-weight-bold: 900 !default;
$--font-line-height-primary: 24px !default;

/* Size
-------------------------- */

$--size-base: 14px !default;

/* z-index
-------------------------- */

$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */

$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--disabled-border-base: $--border-color-light !default;

/* Icon
-------------------------- */

$--icon-color: #666 !default;
$--icon-color-base: $--color-info !default;

/* Checkbox
-------------------------- */

$--checkbox-font-size: 12px !default;
$--checkbox-font-weight: $--font-weight-primary !default;
$--checkbox-color: #000 !default;
$--checkbox-input-height: 16px !default;
$--checkbox-input-width: 16px !default;
$--checkbox-input-border-radius: $--border-radius-small !default;
$--checkbox-input-fill: #d1f0ff !default;
$--checkbox-input-border: $--border-base !default;
$--checkbox-input-border-color: #A4C3EB !default;
$--checkbox-icon-color: $--color-white !default;
$--checkbox-disabled-input-border-color: #D4D4D4 !default;
$--checkbox-disabled-input-fill: #f5f5f5 !default;
$--checkbox-disabled-icon-color: $--color-text-placeholder !default;
$--checkbox-disabled-checked-input-fill: #CFCFCF !default;
$--checkbox-disabled-checked-input-border-color: #D4D4D4 !default;
$--checkbox-disabled-checked-icon-color: #fff !default;
$--checkbox-checked-text-color: #000 !default;
$--checkbox-checked-input-border-color: $--color-primary !default;
$--checkbox-checked-input-fill: $--color-primary !default;
$--checkbox-checked-icon-color: #fff !default;
$--checkbox-input-border-color-hover: $--color-primary !default;
$--checkbox-bordered-height: 40px !default;
$--checkbox-bordered-padding: 9px 20px 9px 10px !default;
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
$--checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;
$--checkbox-bordered-medium-input-height: 14px !default;
$--checkbox-bordered-medium-input-width: 14px !default;
$--checkbox-bordered-medium-height: 36px !default;
$--checkbox-bordered-small-input-height: 12px !default;
$--checkbox-bordered-small-input-width: 12px !default;
$--checkbox-bordered-small-height: 32px !default;
$--checkbox-bordered-mini-input-height: 12px !default;
$--checkbox-bordered-mini-input-width: 12px !default;
$--checkbox-bordered-mini-height: 28px !default;
$--checkbox-button-font-size: $--font-size-mini !default;
$--checkbox-button-checked-fill: $--color-primary !default;
$--checkbox-button-checked-color: $--color-white !default;
$--checkbox-button-checked-border-color: $--color-primary !default;

/* Radio
-------------------------- */

$--radio-font-size: 14px !default;
$--radio-font-weight: $--font-weight-primary !default;
$--radio-color: $--color-text-black !default;
$--radio-input-height: 16px !default;
$--radio-input-width: 16px !default;
$--radio-input-border-radius: $--border-radius-circle !default;
$--radio-input-fill: $--color-white !default;
$--radio-input-border: $--border-base !default;
$--radio-input-border-color: $--border-color-base !default;
$--radio-icon-color: $--color-white !default;
$--radio-disabled-input-border-color: $--disabled-border-base !default;
$--radio-disabled-input-fill: $--disabled-fill-base !default;
$--radio-disabled-icon-color: $--disabled-fill-base !default;
$--radio-disabled-checked-input-border-color: $--disabled-border-base !default;
$--radio-disabled-checked-input-fill: $--disabled-fill-base !default;
$--radio-disabled-checked-icon-color: $--color-text-placeholder !default;
$--radio-checked-text-color: $--color-primary !default;
$--radio-checked-input-border-color: $--color-primary !default;
$--radio-checked-input-fill: $--color-white !default;
$--radio-checked-icon-color: $--color-primary !default;
$--radio-input-border-color-hover: $--color-primary !default;
$--radio-bordered-height: 40px !default;
$--radio-bordered-padding: 12px 20px 0 10px !default;
$--radio-bordered-medium-padding: 10px 20px 0 10px !default;
$--radio-bordered-small-padding: 8px 15px 0 10px !default;
$--radio-bordered-mini-padding: 6px 15px 0 10px !default;
$--radio-bordered-medium-input-height: 14px !default;
$--radio-bordered-medium-input-width: 14px !default;
$--radio-bordered-medium-height: 36px !default;
$--radio-bordered-small-input-height: 12px !default;
$--radio-bordered-small-input-width: 12px !default;
$--radio-bordered-small-height: 32px !default;
$--radio-bordered-mini-input-height: 12px !default;
$--radio-bordered-mini-input-width: 12px !default;
$--radio-bordered-mini-height: 28px !default;
$--radio-button-font-size: $--font-size-mini !default;
$--radio-button-checked-fill: $--color-primary !default;
$--radio-button-checked-color: $--color-white !default;
$--radio-button-checked-border-color: $--color-primary !default;
$--radio-button-disabled-checked-fill: $--border-color-extra-light !default;

/* Select
-------------------------- */

$--select-border-color-hover: $--color-blue-hover !default;
$--select-disabled-border: $--disabled-border-base !default;
$--select-font-size: $--font-size-mini !default;
$--select-close-hover-color: $--color-text-secondary !default;
$--select-input-color: $--color-text-placeholder-primary !default;
$--select-multiple-input-color: #666 !default;
$--select-input-focus-background: $--color-blue-focus !default;
$--select-input-font-size: 12px !default;
$--select-option-color: $--color-text-black !default;
$--select-option-disabled-color: $--color-text-placeholder !default;
$--select-option-disabled-background: $--color-white !default;
$--select-option-height: 24px !default;
$--select-option-hover-background: $--background-color-hover !default;
$--select-option-selected: $--color-primary !default;
$--select-option-selected-hover: $--background-color-hover !default;
$--select-group-color: $--color-info !default;
$--select-group-height: 30px !default;
$--select-group-font-size: 12px !default;
$--select-dropdown-background: $--color-white !default;
$--select-dropdown-shadow: $--box-shadow-light !default;
$--select-dropdown-empty-color: #999 !default;
$--select-dropdown-max-height: 274px !default;
$--select-dropdown-padding: 6px 0 !default;
$--select-dropdown-empty-padding: 10px 0 !default;
$--select-dropdown-border: solid 1px $--border-color-light !default;

/* Alert
-------------------------- */

$--alert-padding: 4px 10px !default;
$--alert-border-radius: $--border-radius-base !default;
$--alert-title-font-size: 12px !default;
$--alert-description-font-size: 12px !default;
$--alert-close-font-size: 12px !default;
$--alert-close-customed-font-size: 12px !default;
$--alert-success-color: $--color-success-lighter !default;
$--alert-info-color: $--color-info-lighter !default;
$--alert-warning-color: $--color-warning-lighter !default;
$--alert-danger-color: $--color-danger-lighter !default;
$--alert-icon-size: 12px !default;
$--alert-icon-large-size: 20px !default;

/* Message Box
-------------------------- */

$--msgbox-width: 450px !default;
$--msgbox-min-height: 240px !default;
$--msgbox-max-height: 450px !default;
$--msgbox-header-height: 36px !default;
$--msgbox-header-color: #202e56 !default;
$--msgbox-border-radius: 4px !default;
$--msgbox-font-size: $--font-size-medium !default;
$--msgbox-content-font-size: $--font-size-mini !default;
$--msgbox-content-color: $--color-text-black !default;
$--msgbox-error-font-size: 12px !default;
$--msgbox-padding-primary: 15px !default;
$--msgbox-padding-regular: 10px !default;
$--msgbox-padding-secondary: 40px !default;
$--msgbox-background-color: $--color-gray-primary !default;
$--msgbox-success-color:$--color-message-success !default;
$--msgbox-info-color: $--color-message-info !default;
$--msgbox-question-color: $--color-message-question !default;
$--msgbox-warning-color: $--color-message-warning !default;
$--msgbox-danger-color: $--color-message-danger !default;

/* Message
-------------------------- */

$--message-shadow: $--box-shadow-base !default;
$--message-min-width: 450px !default;
$--message-min-height: 240px !default;
$--message-max-height: 450px !default;
$--message-header-height: 36px !default;
$--message-header-color: #202e56 !default;
$--message-background-color: $--color-gray-primary !default;
$--message-padding: 15px 15px 15px 20px !default;
$--message-content-color: $--color-text-regular !default;
$--message-content-font-size: $--font-size-mini !default;
$--message-content-color: $--color-text-black !default;
$--message-close-color: $--color-text-placeholder !default;
$--message-close-size: 16px !default;
$--message-close-hover-color: $--color-text-secondary !default;
$--message-padding-primary: 15px !default;
$--message-padding-regular: 10px !default;
$--message-padding-secondary: 40px !default;
$--message-success-color: $--color-message-success !default;
$--message-info-color: $--color-message-info !default;
$--message-warning-color: $--color-message-warning !default;
$--message-question-color: $--color-message-question !default;
$--message-danger-color: $--color-message-danger !default;

/* Notification
-------------------------- */

$--notification-width: 330px !default;
$--notification-padding: 14px 26px 14px 13px !default;
$--notification-radius: 8px !default;
$--notification-shadow: $--box-shadow-light !default;
$--notification-border-color: $--border-color-lighter !default;
$--notification-icon-size: 24px !default;
$--notification-close-font-size: $--message-close-size !default;
$--notification-group-margin: 13px !default;
$--notification-font-size: $--font-size-mini !default;
$--notification-color: $--color-text-regular !default;
$--notification-title-font-size: 16px !default;
$--notification-title-color: $--color-text-primary !default;
$--notification-close-color: $--color-text-secondary !default;
$--notification-close-hover-color: $--color-text-regular !default;
$--notification-success-color: $--color-message-success !default;
$--notification-info-color: $--color-message-info !default;
$--notification-warning-color: $--color-message-warning !default;
$--notification-danger-color: $--color-message-danger !default;

/* Input
-------------------------- */

$--input-font-size: $--font-size-mini !default;
$--input-color: $--color-text-black !default;
$--input-width: 140px !default;
$--input-height: 20px !default;
$--input-height-24: 24px !default;
$--input-border: $--border-base-input !default;
$--input-border-color: $--color-input-bg !default;
$--input-border-radius: $--border-radius-small !default;
$--input-border-color-hover: $--color-input-hover !default;
$--input-fill: $--color-input-bg !default;
$--input-fill-disabled: $--disabled-fill-base !default;
$--input-color-disabled: $--font-color-disabled-base !default;
$--input-icon-color: $--color-text-placeholder !default;
$--input-placeholder-color: $--color-text-placeholder !default;
$--input-max-width: 314px !default;
$--input-hover-border: $--color-input-hover !default;
$--input-clear-hover-color: $--color-text-secondary !default;
$--input-focus-border: $--color-primary !default;
$--input-focus-fill: $--color-white !default;
$--input-disabled-fill: $--disabled-fill-base !default;
$--input-disabled-border: $--disabled-fill-base !default;
$--input-disabled-color: $--disabled-color-base !default;
$--input-disabled-placeholder-color: $--color-text-placeholder !default;
$--input-medium-font-size: 12px !default;
$--input-medium-height: 22px !default;
$--input-small-font-size: 12px !default;
$--input-small-height: 22px !default;
$--input-mini-font-size: 12px !default;
$--input-mini-height: 22px !default;

/* Cascader
-------------------------- */

$--cascader-menu-fill: $--fill-base !default;
$--cascader-menu-font-size: $--font-size-mini !default;
$--cascader-menu-radius: $--border-radius-base !default;
$--cascader-menu-border: $--border-base !default;
$--cascader-menu-border-color: $--border-color-base !default;
$--cascader-menu-border-width: $--border-width-base !default;
$--cascader-menu-color: $--color-text-regular !default;
$--cascader-menu-option-color-active: $--color-text-secondary !default;
$--cascader-menu-option-fill-active: rgba($--color-text-secondary, 0.12) !default;
$--cascader-menu-option-color-hover: $--color-text-regular !default;
$--cascader-menu-option-fill-hover: rgba($--color-text-primary, 0.06) !default;
$--cascader-menu-option-color-disabled: #999 !default;
$--cascader-menu-option-fill-disabled: rgba($--color-black, 0.06) !default;
$--cascader-menu-option-empty-color: #666 !default;
$--cascader-menu-group-color: #999 !default;
$--cascader-menu-shadow: 0 1px 2px rgba($--color-black, 0.14),
0 0 3px rgba($--color-black, 0.14) !default;
$--cascader-menu-option-pinyin-color: #999 !default;
$--cascader-menu-submenu-shadow: 1px 1px 2px rgba($--color-black, 0.14),
1px 0 2px rgba($--color-black, 0.14) !default;

/* Group
-------------------------- */

$--group-option-flex: 0 0 (1/5) * 100% !default;
$--group-option-offset-bottom: 12px !default;
$--group-option-fill-hover: rgba($--color-black, 0.06) !default;
$--group-title-color: $--color-black !default;
$--group-title-font-size: $--font-size-mini !default;
$--group-title-width: 66px !default;

/* Tab
-------------------------- */

$--tab-font-size: $--font-size-mini !default;
$--tab-border-line: 1px solid #e4e4e4 !default;
$--tab-header-color-active: $--color-text-secondary !default;
$--tab-header-color-hover: $--color-text-regular !default;
$--tab-header-color: $--color-text-regular !default;
$--tab-header-fill-active: rgba($--color-black, 0.06) !default;
$--tab-header-fill-hover: rgba($--color-black, 0.06) !default;
$--tab-vertical-header-width: 90px !default;
$--tab-vertical-header-count-color: $--color-white !default;
$--tab-vertical-header-count-fill: $--color-text-secondary !default;

/* Button
-------------------------- */

$--button-font-size: 14px !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-border-radius: $--border-radius-base !default;
$--button-padding-vertical: 9px !default;
$--button-padding-horizontal: 20px !default;
$--button-medium-font-size: 14px !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 20px !default;
$--button-small-font-size: 12px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 5px !default;
$--button-small-padding-horizontal: 20px !default;
$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 7px !default;
$--button-mini-padding-horizontal: 15px !default;
$--button-icon-font-size: 12px !default;
$--button-icon-border-radius: #{$--border-radius-base - 1} !default;
$--button-icon-padding-vertical: 5px !default;
$--button-icon-padding-horizontal: 5px !default;
$--button-default-color: $--color-primary !default;
$--button-default-fill: $--color-primary-i !default;
$--button-default-border: $--color-primary-i !default;
$--button-disabled-color: $--color-text-placeholder !default;
$--button-disabled-fill: $--color-lightgrey !default;
$--button-disabled-border: $--color-lightgrey !default;
$--button-primary-border: $--color-primary !default;
$--button-primary-color: $--color-white !default;
$--button-primary-fill: $--color-primary !default;
$--button-primary-hover: $--color-primary-hover !default;
$--button-primary-active: $--color-primary-active !default;
$--button-warning-border: $--color-warning !default;
$--button-warning-color: $--color-white !default;
$--button-warning-fill: $--color-warning !default;
$--button-warning-hover: $--color-warning-hover !default;
$--button-warning-active: $--color-warning-active !default;
$--button-warning-i-border: $--color-warning-i !default;
$--button-warning-i-color: $--color-warning !default;
$--button-warning-i-fill: $--color-warning-i !default;
$--button-warning-i-hover: $--color-warning-i-hover !default;
$--button-warning-i-active: $--color-warning-i-active !default;
$--button-danger-border: $--color-danger !default;
$--button-danger-color: $--color-white !default;
$--button-danger-fill: $--color-danger !default;
$--button-danger-hover: $--color-danger-hover !default;
$--button-danger-active: $--color-danger-active !default;
$--button-danger-i-border: $--color-danger-i !default;
$--button-danger-i-color: $--color-danger !default;
$--button-danger-i-fill: $--color-danger-i !default;
$--button-danger-i-hover: $--color-danger-i-hover !default;
$--button-danger-i-active: $--color-danger-i-active !default;
$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

/* cascader
-------------------------- */

$--cascader-height: 200px !default;

/* Switch
-------------------------- */

$--switch-on-color: $--color-primary !default;
// $--switch-off-color: $--border-color-base !default;
$--switch-off-color: #cccccc !default;
$--switch-disabled-color: $--border-color-lighter !default;
$--switch-disabled-text-color: $--color-text-placeholder !default;
$--switch-font-size: $--font-size-mini !default;
$--switch-core-border-radius: 11px !default;
$--switch-width: 40px !default;
$--switch-height: 22px !default;
$--switch-button-size: 18px !default;

/* Dialog
-------------------------- */

$--dialog-body-min-width: 450px !default;
$--dialog-body-max-width: 1200px !default;
$--dialog-body-min-height: 240px !default;
$--dialog-body-max-height: 600px !default;
$--dialog-header-color: #202e56 !default;
$--dialog-background-color: $--color-gray-primary !default;
$--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$--dialog-border-radius: 2px !default;
$--dialog-close-hover-color: $--color-primary !default;
$--dialog-title-font-size: $--font-size-medium !default;
$--dialog-font-size: 14px !default;
$--dialog-line-height: 20px !default;
$--dialog-padding-primary: 20px !default;
$--dialog-padding-regular: 10px !default;
$--dialog-padding-secondary: 40px !default;

/* Table$--tooltip-fill
-------------------------- */

$--table-border-color: $--border-color-lighter !default;
$--table-border: 1px solid $--table-border-color !default;
$--table-text-color: $--color-text-regular !default;
$--table-header-color: $--color-text-label !default;
$--table-row-hover-background: #d1f0ff !default;
$--table-current-row-background: #a3e1ff !default;
$--table-header-background: #ecf2fb !default;
$--table-footer-background: #fce7b5 !default;
$--table-footer-text-color: $--color-text-black !default;
$--table-footer-first-td-text-color: $--color-text-label !default;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default
/* Pagination
-------------------------- */

$--pagination-font-size: 13px !default;
$--pagination-fill: $--color-white !default;
$--pagination-color: #a0a0a0 !default;
$--pagination-border-radius: 3px !default;
$--pagination-button-color: $--color-text-primary !default;
$--pagination-button-width: 22px !default;
$--pagination-button-height: 22px !default;
$--pagination-button-disabled-color: $--color-text-placeholder !default;
$--pagination-button-disabled-fill: $--color-white !default;
$--pagination-hover-fill: $--color-primary !default;
$--pagination-hover-color: $--color-white !default;

/* Popover
-------------------------- */

$--popover-fill: $--color-white !default;
$--popover-font-size: $--font-size-mini !default;
$--popover-border-color: $--color-white !default;
$--popover-arrow-size: 10px !default;
$--popover-padding: 16px !default;
$--popover-padding-large: 16px !default;
$--popover-title-font-size: 14px !default;
$--popover-title-color: $--color-text-black !default;

/* Tooltip
-------------------------- */

$--tooltip-fill: $--bg-alert-warning !default;
$--tooltip-color: $--color-black !default;
$--tooltip-font-size: 12px !default;
$--tooltip-border-color: $--switch-off-color !default;
$--tooltip-arrow-size: 6px !default;
$--tooltip-padding: 6px 10px !default;

/* Tag
-------------------------- */

$--tag-padding: 0 10px !default;
$--tag-fill: rgba($--color-primary, 0.10) !default;
$--tag-color: $--color-primary !default;
$--tag-border: rgba($--color-primary, 0.20) !default;
$--tag-font-size: 12px !default;
$--tag-border-radius: 4px !default;
$--tag-info-fill: rgba($--color-info, 0.10) !default;
$--tag-info-border: rgba($--color-info, 0.20) !default;
$--tag-info-color: $--color-info !default;
$--tag-primary-fill: rgba($--color-primary, 0.10) !default;
$--tag-primary-border: rgba($--color-primary, 0.20) !default;
$--tag-primary-color: $--color-primary !default;
$--tag-success-fill: rgba($--color-success, 0.10) !default;
$--tag-success-border: rgba($--color-success, 0.20) !default;
$--tag-success-color: $--color-success !default;
$--tag-warning-fill: rgba($--color-warning, 0.10) !default;
$--tag-warning-border: rgba($--color-warning, 0.20) !default;
$--tag-warning-color: $--color-warning !default;
$--tag-danger-fill: rgba($--color-danger, 0.10) !default;
$--tag-danger-border: rgba($--color-danger, 0.20) !default;
$--tag-danger-color: $--color-danger !default;

/* Tree
-------------------------- */

$--tree-node-hover-color: $--background-color-base !default;
$--tree-text-color: $--color-text-black !default;
$--tree-expand-icon-color: $--color-text-placeholder !default;

/* Dropdown
-------------------------- */

$--dropdown-menu-box-shadow: $--box-shadow-light !default;
$--dropdown-menuItem-hover-fill: $--color-primary-light-9 !default;
$--dropdown-menuItem-hover-color: $--link-color !default;

/* Badge
-------------------------- */

$--badge-fill: $--color-danger !default;
$--badge-radius: 10px !default;
$--badge-font-size: 12px !default;
$--badge-padding: 6px !default;
$--badge-size: 18px !default;

/* Card
--------------------------*/

$--card-border-color: $--border-color-lighter !default;
$--card-border-radius: 4px !default;
$--card-padding: 20px !default;

/* Slider
--------------------------*/

$--slider-main-background-color: $--color-primary !default;
$--slider-runway-background-color: $--border-color-light !default;
$--slider-button-hover-color: mix($--color-primary, black, 97%) !default;
$--slider-stop-background-color: $--color-white !default;
$--slider-disable-color: $--color-text-placeholder !default;
$--slider-margin: 16px 0 !default;
$--slider-border-radius: 3px !default;
$--slider-height: 6px !default;
$--slider-button-size: 16px !default;
$--slider-button-wrapper-size: 36px !default;
$--slider-button-wrapper-offset: -15px !default;

/* Steps
--------------------------*/

$--steps-border-color: $--disabled-border-base !default;
$--steps-border-radius: 4px !default;
$--steps-padding: 20px !default;

/* Menu
--------------------------*/

$--menu-item-font-size: $--font-size-mini !default;
$--menu-item-color: $--color-text-primary !default;
$--menu-item-fill: $--color-white !default;
$--menu-item-hover-fill: $--color-primary-light-9 !default;

/* Rate
--------------------------*/

$--rate-height: 20px !default;
$--rate-font-size: $--font-size-mini !default;
$--rate-icon-size: 18px !default;
$--rate-icon-margin: 6px !default;
$--rate-icon-color: $--color-text-placeholder !default;

/* DatePicker
--------------------------*/

$--datepicker-color: $--color-text-regular !default;
$--datepicker-off-color: $--color-text-placeholder !default;
$--datepicker-header-color: $--color-text-regular !default;
$--datepicker-icon-color: $--color-text-primary !default;
$--datepicker-border-color: $--disabled-border-base !default;
$--datepicker-inner-border-color: #e4e4e4 !default;
$--datepicker-inrange-color: $--border-color-extra-light !default;
$--datepicker-inrange-hover-color: $--border-color-extra-light !default;
$--datepicker-active-color: $--color-primary !default;
$--datepicker-text-hover-color: $--color-primary !default;
$--datepicker-cell-hover-color: #fff !default;

/* Loading
--------------------------*/

$--loading-spinner-size: 42px !default;
$--loading-fullscreen-spinner-size: 50px !default;

/* Scrollbar
--------------------------*/

$--scrollbar-background-color: rgba($--color-text-secondary, .3) !default;
$--scrollbar-hover-background-color: rgba($--color-text-secondary, .5) !default;

/* Carousel
--------------------------*/

$--carousaf-arrow-font-size: 12px !default;
$--carousaf-arrow-size: 36px !default;
$--carousaf-arrow-background: rgba(31, 45, 61, 0.11) !default;
$--carousaf-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
$--carousaf-indicator-width: 30px !default;
$--carousaf-indicator-height: 2px !default;
$--carousaf-indicator-padding-horizontal: 4px !default;
$--carousaf-indicator-padding-vertical: 12px !default;
$--carousaf-indicator-out-color: $--border-color-hover !default;

/* Collapse
--------------------------*/

$--collapse-border-color: #dddddd !default;
$--collapse-header-height: 32px !default;
$--collapse-header-padding: 20px !default;
$--collapse-header-fill: $--color-white !default;
$--collapse-header-color: #939ebd !default;
$--collapse-header-size: 14px !default;
$--collapse-content-fill: $--color-white !default;
$--collapse-content-size: 13px !default;
$--collapse-content-color: $--color-text-primary !default;

/* Transfer
--------------------------*/

$--transfer-border-color: $--border-color-lighter !default;
$--transfer-border-radius: $--border-radius-base !default;
$--transfer-panel-width: 220px !default;
$--transfer-panel-header-height: 30px !default;
$--transfer-panel-footer-background: $--background-color-base !default;
$--transfer-panel-footer-height: 24px !default;
$--transfer-panel-body-height: 240px !default;
$--transfer-item-height: 24px !default;
$--transfer-item-hover-background: $--color-text-secondary !default;
$--transfer-operate-height: 24px !default;

/* CombineAddPanel
--------------------------*/

$--combine-panel-min-width: 420px !default;
$--combine-panel-max-width: 475px !default;
$--combine-panel-font-size-12: 12px !default;
$--combine-panel-flex: flex !default;
$--combine-panel-align-items-center: center !default;
$--combine-panel-flex-start: flex-start !default;
$--combine-panel-flex-wrap: wrap !default;
$--combine-panel-no-wrap: nowrap !default;
$--combine-panel-5: 5px !default;
$--combine-panel-padding-0: 0px !default;
$--combine-panel-10: 10px !default;
$--combine-panel-height: $--input-medium-height;
$--combine-panel-value-item-back: $--checkbox-input-fill;

/* Header
  --------------------------*/

$--header-padding: 0 20px !default;

/* Footer
--------------------------*/

$--footer-padding: 0 20px !default;

/* Main
--------------------------*/

$--main-padding: 20px !default;

/* Break-point
--------------------------*/

$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
$--breakpoints: ( 'xs': (max-width: $--sm), 'sm': (min-width: $--sm), 'md': (min-width: $--md), 'lg': (min-width: $--lg), 'xl': (min-width: $--xl));
$--breakpoints-spec: ( 'xs-only': (max-width: $--sm - 1), 'sm-and-up': (min-width: $--sm), 'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)", 'sm-and-down': (max-width: $--md - 1), 'md-and-up': (min-width: $--md), 'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)", 'md-and-down': (max-width: $--lg - 1), 'lg-and-up': (min-width: $--lg), 'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)", 'lg-and-down': (max-width: $--xl - 1), 'xl-only': (min-width: $--xl), );